.contact {
	margin-top: 0px;
  margin-bottom: 10px;
}

.profile{
  padding: 20px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 0 2px 1px 0 #E4E4E4;
  border-radius: 2px;  
}

.profile_image{
  border-radius: 50%;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  margin: 20px 40px;
}