@font-face {
  font-family: josefin;
  src: font-url('JosefinSans.eot');
  src: font-url('JosefinSans.eot?#iefix') format('embedded-opentype'),
    font-url('JosefinSans.woff') format('woff'),
    font-url('JosefinSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: josefin;
  src: font-url('JosefinSans-Bold.eot');
  src: font-url('JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('JosefinSans-Bold.woff') format('woff'),
    font-url('JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
